.Header {
  width: 100%;
  height: 11rem;
  background-color: #F5F5F5;
}
.Header .wrap {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10rem;
}
.Header .wrap .brand {
  width: 28.3rem;
  height: 8.3rem;
}
.Header .wrap .brand svg {
  width: 100%;
  height: 100%;
}
.Header .wrap .nav-wrap {
  margin-left: 11rem;
}
.Nav {
  position: relative;
  height: 11rem;
}
.Nav .nav {
  display: inline-block;
  height: 11rem;
  vertical-align: top;
  margin-right: 9.5rem;
}
.Nav a {
  display: block;
  text-decoration: none;
  font-size: 3.2rem;
  font-family: "Roboto bold";
  color: #595959;
  padding-top: 3.2rem;
  padding-bottom: 2rem;
  transition: padding 150ms ease-in;
}
.Nav a.active {
  color: #001414;
  padding-top: 4.5rem;
}
.Nav .accessory {
  position: absolute;
  bottom: 0;
  height: 0.7rem;
  background-color: #001414;
  transition: all 150ms ease-in;
}