.KeyPair {
  width: 100rem;
  height: 20rem;
  margin: 20rem auto;
  overflow: hidden;
}
.KeyPair .wrap {
  display: flex;
  align-items: center;
  opacity: 1;
  margin-top: 0;
  transition: all 180ms ease;
}
.KeyPair .wrap button {
  width: 46rem;
  height: 19rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(110deg, #323A8D, #E12B7C);
  color: #fff;
  font-size: 4.6rem;
  font-family: "Roboto bold";
  cursor: pointer;
  transition: background-image 200ms ease;
}
.KeyPair .wrap button:hover {
  background-image: linear-gradient(290deg, #323A8D, #E12B7C);
}
.KeyPair .wrap.upper {
  margin-top: -22rem;
  opacity: 0;
}
.KeyPair .import-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 5.8rem;
  padding-top: 3rem;
}
.KeyPair .import-form input {
  flex: 1;
  height: 5.8rem;
  border: 0.2rem solid #E3E3E3;
  border-radius: 1rem;
  background-color: #F5F5F5;
  padding: 0 2rem;
  font-size: 3.2rem;
  font-family: "Roboto bold";
  box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.2);
}
.KeyPair .import-form input::placeholder {
 color: #B8B8B8; 
}
.KeyPair .import-form input.err {
  background-color: #FFF4FA;
  border-color: #E9A4C7;
}
.KeyPair .import-form button {
  width: 14rem;
  height: 5.8rem;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  color: #fff;
  font-size: 2.6rem;
  font-family: "Roboto bold";
  background-color: #5FA5E2;
  margin-left: 0.5rem;
  opacity: 0.8;
}
.KeyPair .import-form button:hover {
  opacity: 1;
  box-shadow: 0 0.5rem 1.3rem rgba(0, 0, 0, 0.3);
}
.KeyPair .import-form button:last-child {
  background-color: #B8B8B8;
}
.KeyPair .wallet {
  width: 100%;
  padding-top: 2rem;
}
.KeyPair .wallet p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 2rem;
  font-family: "Roboto bold";
  color: #001414;
}
.KeyPair .wallet p label {
  display: block;
  width: 16rem;
}
.KeyPair .wallet p span {
  display: block;
  flex: 1;
  font-family: "Roboto";
  word-break: break-all;
}
