.Swap {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #E8E8E8;
  padding-top: 7.3rem;
}
.Swap .SwapHeader {
  position: absolute;
  width: calc(100% + 2rem);
  height: 7.3rem;
  top: 0;
  left: 0;
  padding: 0 10rem;
  background-color: #EEE;
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.14),
    0rem 0.3rem 1.2rem rgba(0, 0, 0, 0.14) inset;
}
.Swap .SwapHeader .Nav {
  height: 100%;
  margin-left: 39.3rem;
}
.Swap .SwapHeader .Nav .nav {
  height: 100%;
}
.Swap .SwapHeader .Nav .nav a {
  font-size: 2.4rem;
  font-family: "Roboto bold";
  padding: 0;
  line-height: 7.3rem;
}

.SwapExchange,
.SwapLiquidity {
  width: 100%;
  top: 18.3rem;
  background-color: #E8E8E8;
  overflow-y: auto;
}
.SwapExchange .wrap,
.SwapLiquidity .SwapLiquidityPage {
  position: relative;
  width: 66rem;
  margin: 7.7rem auto;
  border-radius: 3rem;
  background-color: #FFF;
  box-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.3);
  padding: 3.5rem 7rem 5rem 7rem;
  transition: all 120ms ease-out;
}
.SwapLiquidity .SwapLiquidityPage button.back {
  position: absolute;
  top: -5.5rem;
  left: 0;
  border: none;
  background-color: transparent;
  font-size: 2.4rem;
  color: #595959;
  cursor: pointer;
}
.SwapExchange .wrap label.label,
.SwapLiquidity .SwapLiquidityPage label.label {
  display: block;
  width: calc(100% + 4rem);
  font-size: 3.2rem;
  font-family: "Roboto bold";
  color: #001414;
  margin-left: -2rem;
  margin-bottom: 3.4rem;
}
.SwapExchange .SwapExchangeInputGroup.to,
.SwapLiquidity .SwapExchangeInputGroup.token1 {
  margin-top: -3.5rem;
}
.SwapExchange .SwapExchangeInputGroup label,
.SwapLiquidity .SwapExchangeInputGroup label {
  display: block;
  font-size: 1.8rem;
  font-family: "Roboto bold";
  color: #001414;
  margin-bottom: 2rem;
}
.SwapExchange .SwapExchangeInputGroup .input-group,
.SwapLiquidity .SwapExchangeInputGroup .input-group {
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.8rem;
  border: 0.2rem solid #E3E3E3;
  border-radius: 1rem;
  background-color: #F5F5F5;
  margin: 0;
}
.SwapExchange .SwapExchangeInputGroup.err .input-group,
.SwapLiquidity .SwapExchangeInputGroup.err .input-group {
  border-color: #E9A4C7;
  background-color: #FFF4FA;
}
.SwapExchange .SwapExchangeInputGroup .input-group input,
.SwapLiquidity .SwapExchangeInputGroup .input-group input {
  flex: 1;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 2rem;
  font-size: 3.2rem;
  font-family: "Roboto bold";
  color: #001414;
}
.SwapExchange .SwapExchangeInputGroup .input-group input::placeholder,
.SwapLiquidity .SwapExchangeInputGroup .input-group input::placeholder {
  color: #B8B8B8;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group {
  width: 13.4rem;
  height: 100%;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group button.select,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group button.select {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 1.5rem 0 0;
  text-align: left;
  cursor: pointer;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group button.select span.token-icon,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group button.select span.token-icon {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
  background-color: #B8B8B8;
  margin-right: 0.7rem;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group button.select span.token-name,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group button.select span.token-name {
  flex: 1;
  font-size: 2.4rem;
  font-family: "Roboto bold";
  color: #001414;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group button.select svg,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group button.select svg {
  width: 1.4rem;
  height: 0.8rem;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group .option-wrap,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group .option-wrap {
  position: absolute;
  width: 13.4rem;
  max-height: 16rem;
  border: 0.1rem solid #E8E8E8;
  box-shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 0.14);
  border-bottom-right-radius: 1.2rem;
  border-bottom-left-radius: 1.2rem;
  padding-bottom: 1.2rem;
  background-color: #FFF;
  z-index: 1000;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group .option-wrap .scroll-wrap,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group .option-wrap .scroll-wrap {
  max-height: 14.8rem;
  overflow-y: auto;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group .option-wrap .scroll-wrap::-webkit-scrollbar,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group .option-wrap .scroll-wrap::-webkit-scrollbar {
  width: 0.6rem;
  background-color: #E8E8E8;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group .option-wrap button,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group .option-wrap button {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  height: 3.2rem;
  text-align: left;
  font-size: 2rem;
  padding-left: 2rem;
}
.SwapExchange .SwapExchangeInputGroup .input-group .select-group .option-wrap button:hover,
.SwapLiquidity .SwapExchangeInputGroup .input-group .select-group .option-wrap button:hover {
  background-color: rgba(245, 245, 220, 0.5);
}
.SwapExchange .SwapExchangeInputGroup span.balance,
.SwapLiquidity .SwapExchangeInputGroup span.balance {
  position: absolute;
  right: 7rem;
  font-size: 1.8rem;
  color: #595959;
  padding-top: 0.3rem;
  cursor: default;
}

.SwapExchange .wrap button.switch-btn {
  display: block;
  width: 4.4rem;
  height: 4.4rem;
  margin: 2.3rem auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.SwapExchange .wrap button.switch-btn:disabled {
  cursor: not-allowed;
}
.SwapExchange .wrap button.switch-btn svg {
  width: 100%;
  height: 100%;
}

.SwapLiquidity .SwapLiquidityPage .plus-svg {
  width: 2.2rem;
  height: 2.2rem;
  margin: 3.5rem auto;
}

.SwapExchange .wrap .TokenOptionList,
.SwapLiquidity .TokenOptionList {
  margin-top: -3.5rem;
}
.SwapExchange .wrap .TokenOptionList label,
.SwapLiquidity .TokenOptionList label {
  display: block;
  font-size: 1.8rem;
  font-family: "Roboto bold";
  color: #001414;
  margin-bottom: 2rem;
}
.SwapExchange .wrap .TokenOptionList button.trigger,
.SwapLiquidity .TokenOptionList button.trigger {
  width: 100%;
  height: 5.8rem;
  border: none;
  border-radius: 1rem;
  background-color: #BADFFF;
  color: #FFF;
  font-size: 3.2rem;
  font-family: "Roboto bold";
  cursor: pointer;
}
.SwapExchange .wrap .TokenOptionList button.trigger:hover,
.SwapLiquidity .TokenOptionList button.trigger:hover {
  background-color: #5FA5E2;
}
.SwapExchange .wrap .TokenOptionList button.trigger:disabled,
.SwapLiquidity .TokenOptionList button.trigger:disabled {
  cursor: not-allowed;
  background-color: #BADFFF;
}
.SwapExchange .wrap .TokenOptionList .option-wrap,
.SwapLiquidity .TokenOptionList .option-wrap {
  width: calc(100% + 2rem);
  height: 27rem;
  padding-right: 2rem;
  overflow-y: auto;
}
.SwapExchange .wrap .TokenOptionList .option-wrap .options span.no-pair,
.SwapLiquidity .TokenOptionList .option-wrap .options span.no-pair {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  color: #B8B8B8;
}
.SwapExchange .wrap .TokenOptionList .option-wrap::-webkit-scrollbar,
.SwapLiquidity .TokenOptionList .option-wrap::-webkit-scrollbar {
  width: 0.9rem;
  border-radius: 3rem;
  background-color: #E3E3E3;
  padding: 0.2rem;
}
.SwapExchange .wrap .TokenOptionList .option-wrap::-webkit-scrollbar-thumb,
.SwapLiquidity .TokenOptionList .option-wrap::-webkit-scrollbar-thumb {
  border-radius: 3rem;
  background-color: #B8B8B8;
  box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap,
.SwapLiquidity .TokenOptionList .options .btn-wrap {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.1rem solid #E3E3E3;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap:first-child,
.SwapLiquidity .TokenOptionList .options .btn-wrap:first-child {
  border-top: 0.1rem solid #E3E3E3;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap button,
.SwapLiquidity .TokenOptionList .options .btn-wrap button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 5.2rem;
  border: none;
  border-radius: 1rem;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap button:hover,
.SwapLiquidity .TokenOptionList .options .btn-wrap button:hover {
  background-color: #F5F5F5;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap button span.token-icon,
.SwapLiquidity .TokenOptionList .options .btn-wrap button span.token-icon {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #E8E8E8;
  margin-left: 0.6rem;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap button span.token-symbol,
.SwapLiquidity .TokenOptionList .options .btn-wrap button span.token-symbol {
  position: absolute;
  display: block;
  top: 0;
  left: 6.2rem;
  font-size: 2.4rem;
  color: #001414;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap button span.token-name,
.SwapLiquidity .TokenOptionList .options .btn-wrap button span.token-name {
  display: block;
  flex: 1;
  padding: 1.6rem;
  font-size: 1.8rem;
  color: #B8B8B8;
  text-align: left;
  transform: translateY(1.2rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.SwapExchange .wrap .TokenOptionList .options .btn-wrap button span.token-balance ,
.SwapLiquidity .TokenOptionList .options .btn-wrap button span.token-balance {
  display: block;
  padding-right: 2rem;
  font-size: 3.2rem;
  color: #001414;
}
.SwapExchange .wrap .swap-info,
.SwapLiquidity .swap-info {
  padding: 5.3rem 0 4rem 0;
  text-align: right;
  font-size: 1.8rem;
  color: #595959;
  pointer-events: none;
}
.SwapExchange .wrap .swap-info.muted {
  opacity: 0;
}
.SwapExchange .wrap button.submit,
.SwapLiquidity button.submit {
  width: 100%;
  height: 8.6rem;
  border: none;
  border-radius: 2rem;
  color: #FFF;
  font-size: 4.6rem;
  font-family: "Roboto bold";
  background-image: linear-gradient(115deg, #E12B7C, #323A8D);
  margin-top: 1.5rem;
  cursor: pointer;
}
.SwapExchange .wrap button.submit:disabled,
.SwapLiquidity button.submit:disabled {
  background-color: #E3E3E3;
  background-image: none;
  cursor: not-allowed;
}

.SwapLiquidity .SwapLiquidityPage0 {
  width: 76rem;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}
.SwapLiquidity .SwapLiquidityPage0 .brand {
  width: 34.1rem;
  height: 19.1rem;
  margin: 0 auto;
  cursor: default;
}
.SwapLiquidity .SwapLiquidityPage0 .brand svg {
  width: 100%;
  height: 100%;
}
.SwapLiquidity .SwapLiquidityPage0 .message {
  font-size: 2.4rem;
  color: #242424;
  padding-top: 5rem;
  padding-bottom: 6.5rem;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card {
  position: relative;
  width: 35rem;
  height: 15rem;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card button {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1 {
  background-color: #B7B7B7;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1 .accessory-1 {
  position: absolute;
  top: 3.9rem;
  left: 3rem;
  font-size: 3.6rem;
  font-family: "Roboto bold";
  color: #242424;
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1:hover .accessory-1 {
  transform: translate(4rem, 1.5rem) rotate(-5deg);
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1 .accessory-2 {
  position: absolute;
  width: 9.7rem;
  height: 8.5rem;
  top: -6.5rem;
  left: -7.5rem;
  border-radius: 2rem;
  background-image: linear-gradient(140deg, #E12B7C, #323A8D);
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1:hover .accessory-2 {
  top: -3rem;
  left: -3.5rem;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1 .accessory-3 {
  position: absolute;
  width: 9.8rem;
  height: 7.8rem;
  bottom: -5.8rem;
  right: -7.5rem;
  border-radius: 2rem;
  background-image: linear-gradient(140deg, #E12B7C, #323A8D);
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-1:hover .accessory-3 {
  bottom: -2.6rem;
  right: -3.1rem;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2 {
  background-color: #87C6FE;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2 .accessory-1 {
  position: absolute;
  top: 3.9rem;
  left: 3rem;
  font-size: 3.6rem;
  font-family: "Roboto bold";
  color: #242424;
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2:hover .accessory-1 {
  transform: translateY(-1rem);
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2 .accessory-2 {
  position: absolute;
  width: 3.1rem;
  height: 2.7rem;
  bottom: 2.4rem;
  right: 6.3rem;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #E12B7C, #323A8D);
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2:hover .accessory-2 {
  bottom: 1.7rem;
  right: 14rem;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2 .accessory-3 {
  position: absolute;
  width: 3.1rem;
  height: 2.7rem;
  bottom: 2.4rem;
  right: 6.3rem;
  border-radius: 50%;
  background-image: linear-gradient(140deg, #E12B7C, #323A8D);
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2:hover .accessory-3 {
  bottom: 6.5rem;
  right: 1.6rem;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2 .accessory-4 {
  position: absolute;
  width: 7.3rem;
  height: 5.2rem;
  bottom: 6.7rem;
  right: -5rem;
  border-radius: 2rem;
  background-image: linear-gradient(140deg, #E12B7C, #323A8D);
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2:hover .accessory-4 {
  width: 9.1rem;
  height: 6.6rem;
  bottom: 5.6rem;
  right: -3.7rem;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2 .accessory-5 {
  position: absolute;
  width: 9.7rem;
  height: 8.5rem;
  bottom: -6.5rem;
  left: 5rem;
  border-radius: 2rem;
  background-image: linear-gradient(140deg, #E12B7C, #323A8D);
  box-shadow: 0 0.3rem 1.2rem rgba(0, 0, 0, 0.25);
  transition: all 200ms ease-out;
  pointer-events: none;
}
.SwapLiquidity .SwapLiquidityPage0 .page-cards .page-card-2:hover .accessory-5 {
  width: 18.3rem;
  height: 11rem;
}
.SwapLiquidity .SwapLiquidityPage1 span.err,
.SwapLiquidity .SwapLiquidityPage2 span.err {
  width: 100%;
  float: left;
  padding-top: 8rem;
  color: crimson;
  font-size: 1.8rem;
  text-align: center;
}