.UserPrincipalDisplayer {
  position: relative;
  display: inline-block;
  height: 3rem;
}
.UserPrincipalDisplayer .group {
  display: flex;
  height: 100%;
  align-items: center;
}
.UserPrincipalDisplayer span.label {
  display: inline-block;
  line-height: 2.4rem;
  font-size: 2rem;
  padding-right: 1.2rem;
  color: #001414;
  cursor: default;
}
.UserPrincipalDisplayer button {
  vertical-align: top;
  padding: 0;
  border: none;
  background-color: transparent;
}
.UserPrincipalDisplayer button svg {
  width: 100%;
  height: 100%;
  color: #838383;
}
.UserPrincipalDisplayer button:hover svg {
  opacity: 0.7;
}
.UserPrincipalDisplayer span.info {
  position: absolute;
  font-size: 1.2rem;
  top: -2.2rem;
  right: -1rem;
  color: #001414;
}
.UserPrincipalDisplayer input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.UserPrincipalDisplayer .wrap label.sub-label {
  display: block;
  font-size: 1.8rem;
  font-family: "Roboto bold";
  margin-top: 3.5rem;
  margin-bottom: 1rem;
  color: #001414;
}
.UserPrincipalDisplayer .wrap input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.UserPrincipalDisplayer .wrap .input-group span {
  word-break: break-all;
  display: block;
  flex: 1;
  min-height: 3.8rem;
  max-height: 10rem;
  color: #8b8b8b;
  cursor: default;
}
.UserPrincipalDisplayer .wrap .pwd {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.2vw;
  min-height: 40px;
  border: 1px solid #8b8b8b;
  border-radius: 4px;
  overflow: hidden;
}
.UserPrincipalDisplayer .wrap .pwd input {
  position: relative;
  opacity: 1;
  pointer-events: all;
  width: calc(100% - 5vw);
  height: 100%;
  border: none;
  background-color: transparent;
  padding: 0 0.8vw;
  font-size: 0.8vw;
}
.UserPrincipalDisplayer .wrap .pwd button {
  font-size: 0.8vw;
  width: 5vw;
  min-width: 70px;
  height: 100%;
  background-color: #8b8b8ba4;
  color: #fff;
  border: none;
  opacity: 0.8;
  cursor: pointer;
}
.UserPrincipalDisplayer .wrap .pwd button:hover {
  opacity: 1;
}
.UserPrincipalDisplayer .pwd .error {
  color: tomato;
}
