.Wallet {
  position: relative;
  width: 100%;
  padding-top: 11.5rem;
}
.Wallet .UserPrincipalDisplayer {
  position: absolute;
  top: 3rem;
  right: 5rem;
}
.Wallet .balance p svg.dollar {
  display: inline-block;
  width: 1.4rem;
  height: 2.8rem;
  vertical-align: top;
  margin-top: 1.2rem;
}
.Wallet .balance p svg.spinner {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 1.2rem;
  left: 4rem;
  opacity: 0.7;
  transform: translate(2rem, 1.5rem);
  animation: spin 1500ms linear infinite;
}
.Wallet .balance p span {
  padding-left: 1rem;
  font-size: 6.4rem;
}
.Wallet .balance .TransferICP button.trigger {
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
  cursor: pointer;
  opacity: 0.8;
  color: #8b8b8b;
}
.Wallet .balance .TransferICP button.trigger:hover {
  opacity: 1;
}
.Wallet .tokens {
  width: 100%;
  padding: 0 17.6rem;
}
.Wallet .tokens .tokens-list svg.spinner {
  display: block;
  width: 5rem;
  height: 5rem;
  margin: 6rem auto;
  opacity: 0.7;
  animation: spin 1500ms linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.Wallet .tokens .AddTokenToListModal {
  display: inline-block;
  margin-left: 2vw;
}
.Wallet .tokens .tokens-list .zero {
  width: 100%;
  font-size: 3.2rem;
  text-align: center;
  color: #595959;
  opacity: 0.5;
  cursor: default;
}
