@font-face {
  font-family: "Roboto";
  src: url("https://res.cloudinary.com/reachimgapi/raw/upload/v1618160197/Roboto-Regular_o2h8ra.ttf");
}
@font-face {
  font-family: "Roboto bold";
  src: url("https://res.cloudinary.com/reachimgapi/raw/upload/v1618160182/Roboto-Bold_iexbmo.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
}

.ComingSoon {
  width: 76rem;
  margin: 10rem auto;
  text-align: center;
  font-size: 6rem;
  font-family: "Roboto bold";
  text-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.2);
}

html {
  font-size: 62.5%;
}

@media (max-width: 1799.98px) {
  html {
    font-size: 55.6%;
  }
}
@media (max-width: 1699.98px) {
  html {
    font-size: 50.3%;
  }
}
@media (max-width: 1536px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 1439.99px) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 1339.99px) {
  html {
    font-size: 43.6%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 41.67%;
  }
}
@media (max-width: 1199.98px) {
  html {
    font-size: 39.1%;
  }
}
@media (max-width: 991.98px) {
  html {
    font-size: 32.3%;
  }
}
@media (max-width: 767.98px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 18.75%;
  }
}
