body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
  font-family: Roboto;
  outline: none;
}

html {
  font-size: 62.5%;
}

@media (max-width: 1799.98px) {
  html {
    font-size: 55.6%;
  }
}
@media (max-width: 1699.98px) {
  html {
    font-size: 50.3%;
  }
}
@media (max-width: 1536px) {
  html {
    font-size: 48%;
  }
}
@media (max-width: 1439.99px) {
  html {
    font-size: 46.875%;
  }
}
@media (max-width: 1339.99px) {
  html {
    font-size: 43.6%;
  }
}
@media (max-width: 1280px) {
  html {
    font-size: 41.67%;
  }
}
@media (max-width: 1199.98px) {
  html {
    font-size: 39.1%;
  }
}
@media (max-width: 991.98px) {
  html {
    font-size: 32.3%;
  }
}
@media (max-width: 767.98px) {
  html {
    font-size: 25%;
  }
}
@media (max-width: 575.98px) {
  html {
    font-size: 18.75%;
  }
}
