.ActivityModal .modal .card button.close {
  position: absolute;
  top: 1vw;
  right: 1vw;
  width: 1vw;
  min-width: 16px;
  min-height: 16px;
  height: 1vw;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.5;
}
.ActivityModal .modal .card button.close:hover {
  opacity: 0.7;
}

.ActivityModal .modal .card svg.spinner {
  display: block;
  width: 3vw;
  height: 3vw;
  margin: calc(30vh - 1vw) auto;
}

.ActivityModal .ActivityList {
  width: calc(100% + 10px);
  height: 100%;
  overflow-y: scroll;
}
.ActivityModal .ActivityList::-webkit-scrollbar {
  width: 6px;
  border-radius: 6px;
}
.ActivityModal .ActivityList::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.ActivityModal .ActivityList .no-item {
  text-align: center;
  padding: 30vh 0;
  font-size: 1vw;
  color: #8f8f8f;
}

.ActivityModal .ActivityItem:last-child {
  margin-bottom: 0;
}
.ActivityModal .ActivityItem .type {
  font-weight: 700;
  color: #444;
  margin-bottom: 0.8vw;
}
.ActivityModal .ActivityItem .time,
.ActivityModal .ActivityItem .info {
  color: #8f8f8f;
  margin-bottom: 0.4vw;
}
.ActivityModal .ActivityItem .info {
  word-break: break-all;
}
.ActivityModal .ActivityItem .amount {
  font-weight: 700;
  color: green;
  margin-bottom: 0.4vw;
}
.ActivityModal .ActivityItem .amount.decrease {
  color: #222;
}
.ActivityModal .ActivityItem .symbol {
  font-size: 1vw;
  color: #444;
  margin-bottom: 0.4vw;
}
