@font-face {
  font-family: "Roboto";
  src: url(/src/frontend/src/fonts/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Roboto bold";
  src: url(/src/frontend/src/fonts/Roboto-Bold.ttf);
}
@font-face {
  font-family: "Roboto light";
  src: url(/src/frontend/src/fonts/Roboto-Light.ttf);
}

html,
body,
#pageContent {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  font-family: "Roboto";
  outline: none;
}

div,
span,
p {
  cursor: default;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

svg {
  pointer-events: none;
}

button {
  cursor: pointer;
}

button:disabled,
a:disabled,
input:disabled,
textarea:disabled {
  cursor: not-allowed;
}

.ComingSoon {
  margin: 10rem auto;
  text-align: center;
  font-size: 8vw;
  font-family: "Roboto bold";
  text-shadow: 0 0.3rem 1.3rem rgba(0, 0, 0, 0.2);
}
